apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        ports:
        - containerPort: 443

        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf

        - name: tls-secret
          mountPath: /etc/nginx/tls
          readOnly: true

      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config

      - name: tls-secret
        secret:
          secretName: nginx-tls-secret
